<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AntOS</title>
</head>
<body>
    <label for="cmd">Command:</label>
    <input id="cmd" type="text" placeholder="Command">
    <button id="cmd_btn">Send</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#cmd_btn').on('click', () => {
        const txt = $('#cmd_btn').text();
        $.post({
            url: "http://localhost/command",
            data: {
                "command": txt
            },
            dataType: "json",
            contentType: "application/json"
        })
    })

</script>
</body>
</html>